<!DOCTYPE html>
<html>
  <head>
    <title>Tomblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "http://fonts.googapis.com/css?family=Raleway:400,700"%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
